{% extends 'request_page/index.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="/stylesheets/option_menu-style.css"/>
{% endblock %}
{% block content %}
    <div class="layer">
        <div class="profile-menu">
            <h1>
                Options
            </h1>
            <hr>
            <h3>
                Security
            </h3>
            <h4>
                Show contact details
            </h4>
            <a>
                {{ publicContact }}
            </a>
            <a href="/request">
                cancel
            </a>
        </div>
    </div>
{% endblock %}