<h1><strong> Thank you for signing in! </strong></h1>
<p>
    Please confirm your email address to finilize your registration<br>by clicking the following link:<br>
    <a href="{{ signedUrl }}"> Confirm registration</a> <br>
    This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<image href="../pictures/logo_small.png"></image>
