@font-face {
  font-family: quicksand;
  src: url("../Fonts/quicksand/Quicksand-Regular.otf"); }
@font-face {
  font-family: raleway;
  src: url("../Fonts/raleway/Raleway-Regular.ttf"); }
* {
  font-family: quicksand; }

.header {
  width: 100%;
  height: 23%;
  position: fixed;
  display: flex;
  background: #0b2335;
  flex-direction: column-reverse;
  top: 0;
  left: 0;
  z-index: 1; }

.main-link {
  width: 100%;
  height: 70%;
  position: absolute;
  display: block;
  background: transparent;
  z-index: 2;
  top: 0; }
  .main-link > div {
    width: fit-content;
    height: fit-content;
    position: absolute;
    display: flex;
    background: transparent;
    right: 0;
    align-items: center; }
    .main-link > div > a {
      font-size: 4em;
      text-decoration: none;
      color: #85cbff; }

.title {
  width: 100%;
  height: 30%;
  position: absolute;
  display: flex;
  background: linear-gradient(to bottom, #0b2335 0%, #85cbff 100%);
  bottom: 0;
  align-items: center; }
  .title > h1 {
    color: white; }
  .title > form {
    position: absolute;
    right: 20%;
    display: flex;
    align-items: center;
    z-index: 3; }
    .title > form > select {
      height: 50px;
      width: 250px;
      background: #0b2335;
      font-size: 1.5em;
      color: #85cbff;
      border: hidden;
      text-align: center;
      border-radius: 0 0 0 40px;
      transition: 0.25s; }
      .title > form > select:hover {
        border-radius: 0; }
    .title > form > input {
      width: 100px;
      height: 50px;
      background: #0b2335;
      border: hidden;
      color: #85cbff;
      font-size: 1.5em;
      border-radius: 0 40px 0 0;
      transition: 0.25s; }
      .title > form > input:hover {
        border-radius: 0; }

.body {
  width: 100%;
  height: 77%;
  position: fixed;
  display: block;
  background: linear-gradient(to bottom, #85cbff 0%, #0b2335 100%);
  top: 23%; }
  .body > h1 {
    color: white; }

.api-entities {
  overflow: scroll;
  max-width: 100%;
  max-height: 100%; }

.api-entities::-webkit-scrollbar {
  display: none; }

.api-field {
  display: flex;
  flex-direction: column;
  margin-left: 50px; }
  .api-field > hr {
    width: 80%;
    margin: 0; }
  .api-field > h2 {
    color: white; }
  .api-field > div {
    width: 50%;
    height: 70px;
    position: relative;
    display: flex;
    background: #0b2335;
    margin: 15px 0 0 15px;
    align-items: center;
    border: 5px outset #85cbff;
    border-radius: 0 40px 0 40px;
    transition: 0.25s; }
    .api-field > div:hover {
      border-radius: 0; }
    .api-field > div:hover .method-button {
      border-radius: 0; }
    .api-field > div > p {
      font-size: larger;
      margin: 0 50px 0 10px;
      color: #85cbff;
      transition: font-size 0.25s; }
      .api-field > div > p:hover {
        font-size: x-large; }

.description {
  position: absolute;
  right: 10px; }

.method-button {
  width: 90px;
  height: 70px;
  position: relative;
  display: flex;
  background: none;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
  border-radius: 0 40px 0 30px;
  transition: 0.25s; }

.get {
  background: #18cbfc; }

.put {
  background: yellow; }

.delete {
  background: red; }

.patch {
  background: turquoise; }

.post {
  background: #00ff00; }

/*# sourceMappingURL=api-style.css.map */
