@import "style-patterns";

a {
  text-decoration: none;
}

.chat-box {
  @include box(1200px, 700px, fixed, flex, white);
  top: 200px;
  left: 200px;
  z-index: 3;
}

.chat-head {
  @include box (100%, 10%, absolute, flex, white);
  z-index: 1;
  border-bottom: black 2px solid;
  align-items: center;

  & > a {
    @include box (40px, 40px, absolute, flex, red);
    color: white;
    justify-content: center;
    align-items: center;
    right: 0;
    text-decoration: none;
    font-size: 2em;
  }
}

.chat-content {
  @include box(100%, 90%, absolute, flex, white);
  flex-direction: row;
  bottom: 0;
}

.chat-list {
  @include box(29%, 100%, relative, flex, white);
  border-right: 2px solid black;
  flex-direction: column;
  overflow-y: scroll;
}

.conversation {
  @include box(70%, 100%, relative, flex, white);
  justify-content: center;
}

.search-user {
  @include box(300px, 40px, absolute, block, white);
  margin-left: 30%;
  & > form {
    @include box(300px, 40px, relative, flex, white);
    flex-direction: row;

    & > select {
      @include box(200px, 100%, relative, block, white);
    }
  }
}

.chat-banner {
  @include box(98%, 14%, relative, flex, white);
  flex-direction: row;
  font-size: 1.5em;
  color: black;
  text-decoration: none;
  transition: 0.25s;

  &:hover {
    width: 100%;
    height: 15%;
  }
}

.profile-picture {
  @include box(50px, 50px, relative, block, transparent);
  margin: 10px;
}

.chat-list::-webkit-scrollbar {
  display: none;
}

.message-field {
  @include box(80%, 50px, absolute, flex, none);
  bottom: 0;
  justify-content: center;

  & > form > input {
    height: -webkit-fill-available;
    font-size: 1em;
  }

}

.message-input {
  width: 400px;
}

.text-container {
  @include box(80%, 90%, relative, flex, transparent);
  flex-direction: column;
  overflow-y: scroll;
}

.text-container::-webkit-scrollbar {
  display: none;
}

.chat-message {
  @include box(50%, fit-content, relative, flex, #61b7e8);
  min-height: 100px;
  border-radius: 20px;
  margin-top: 10px;
  flex: none;
  flex-direction: column;
  justify-content: center;
}

.message-content {
  margin: 5px 15px 10px 15px;
  line-break: auto;
  white-space: normal;
  font-size: 1.3em;
}

.create-group {
  @include box(200px, 80%, relative, flex, #00bbff);
  border-radius: 20px;
  justify-content: center;
  align-items: center;

  & > a {
    color: black;
    font-size: 1.5em;
  }
}