@import "style-patterns";

.profile-menu {
  @include box(500px, 800px, fixed, flex, #0c2436);
  left: 10%;
  top: 10%;
}

.layer {
  @include box(100%, 100%, fixed, block, #00000050);
  top: 0;
  left: 0;
}