@mixin box($width, $height, $position, $display, $background) {
  width: $width;
  height: $height;
  position: $position;
  display: $display;
  background: $background;
}

@mixin menu-button() {
  color: white;
  border: solid white 2px;
  text-decoration: none;
  @include box(60px, 40px, relative, flex, transparent);
  justify-content: center;
  align-items: center;
}

@mixin alert($padding, $bg, $color) {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

@mixin closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}