<h1><strong> Please Confrim your change </strong></h1>
<p>
    Please confirm your change of password <br>by clicking the following link:<br>
    <a href="{{ signedUrl }}"> Confirm change</a> <br>
    This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>