<!DOCTYPE html>
<html style="margin: 0; height: 100%; width: 100%;">
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" type="x-icon" href="/pictures/logo_small_icon_only.png"/>
        {% block stylesheets %}{% endblock %}
        {% block head %}{% endblock %}
    </head>
    <body style="margin: 0; height: 100%; width: 100%;">
        {% block body %}{% endblock %}
    </body>
</html>
