{% extends 'request_page/index.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="/stylesheets/table-style.css"/>
{% endblock %}
{% block content %}
    {{ form_start(req_form) }}
    {{ form_row(req_form.Context) }}
    {{ form_row(req_form.Deadline) }}
    <button type="submit" class="btn">Create Request</button>
    {{ form_end(req_form) }}
{% endblock %}